<header class="header">
  <div class="header-brand">
    <a href="{{ site.url }}" title="{{ site.title }}" class="header-brand-link">
      <div class="header-brand-logo">
        <span class="header-brand-letter white">R</span>
        <span class="header-brand-letter green">R</span>
      </div>

      <span class="header-brand-name">Richardson <br />Bruno</span>
    </a>
  </div>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="#home" title="Home Page" class="header-nav-link active">
          <span>Home</span>
          <i class="fas fa-home"></i>
        </a>
      </li>
      
      <li class="header-nav-item">
        <a href="#about" title="About" class="header-nav-link">
          <span>About</span>
          <i class="fas fa-user"></i>
        </a>
      </li>

      <li class="header-nav-item">
        <a href="#skill" title="Skill" class="header-nav-link">
          <span>Skill</span>
          <i class="fas fa-cog"></i>
        </a>
      </li>

      <li class="header-nav-item">
        <a href="#works" title="Works" class="header-nav-link">
          <span>Works</span>
          <i class="fas fa-eye"></i>
        </a>
      </li>

      <li class="header-nav-item">
        <a href="#contacts" title="Contacts" class="header-nav-link">
          <span>Contacts</span>
          <i class="fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </nav>

  <section class="header-nav">
    <ul class="header-nav-list">

      <li class="header-nav-item">
        <a href="https://facebook.com/richardson.bruno.ramos" title="Facebook" class="header-nav-link" target="_blank">
          <span>facebook</span>
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      
      <li class="header-nav-item">
        <a href="https://www.linkedin.com/in/richardson-bruno-ramos/" title="linkedin" class="header-nav-link" target="_blank">
          <span>linkedin</span>
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      
      <li class="header-nav-item">
        <a href="https://github.com/richardsonbruno" title="Github" class="header-nav-link" target="_blank">
          <span>github</span>
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </section>

  <button class="btn btn-menu" id="btnMenu">
    <i class="fas fa-bars"></i>
  </button>
</header>