.home {
    background: url("/assets/bg-block.jpg") no-repeat center center;
    background-size: cover;
    border-bottom: 20px #50E3C2 solid;
    display: flex;
    padding: 20px 20px 20px 80px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;

    @media (max-width: 900px) {
        padding: 20px;
    }
}

.home-welcome {
    text-align: center;

    h1 {
        font-size: 4em;
        color: #fff;
        line-height: 1.2;
        font-weight: 800;
        margin-bottom: 20px;
        transition: all .1s ease-in-out;

        @media (max-width: 768px) {
            font-size: 2em;
        }

        @media (max-width: 480px) {
            font-size: 1.6em;
        }
    }

    p {
        color: #9B9B9B;
        font-size: 1.125em;
        margin-bottom: 20px;
        transition: all .1s ease-in-out;

        @media (max-width: 767px) {
            font-size: 1em;
        }

        @media (max-width: 480px) {
            font-size: .875em;
        }

        span {
            color: #717171;
        }
    }

    a {
        border: 2px #50E3C2 solid;
        color: #50E3C2;
        display: inline-block;
        font-size: 1.125em;
        padding: 10px 40px;
        border-radius: 4px;

        &:hover {
            background: #50E3C2;
            color: #282828;
            text-decoration: none;
        }
    }
}