---
layout: default
title: Richardson Bruno Web developer
---

<section class="block home animated">
  
  <div class="home-welcome">
    <h1>
        Hi, <br />
        I’m Richardson Bruno, <br />
        web developer.
    </h1>

    <p>
        Front End Developer / Wordpress / Angular 2 + <br />
        <span>React and React Native ( Learning )</span>
    </p>

    <a href="{{ "/contacts" | prepend: site.url }}" title="contact" class="header-nav-link">
      contact me
    </a>
  </div>

</section>